<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    A propos: {{ details.name.first }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md col-md-4">
        <img [src]="details.picture.large" class="img-fluid rounded" alt="" />
      </div>
      <div class="col-md col-md-8">
        <div class="row mt-3">
          <div class="col-md col-md-3">
            <h6><b>Titre:</b></h6>
            <h6><b>Nom:</b></h6>
            <h6><b>Prénom:</b></h6>
          </div>
          <div class="col-md col-md-9">
            <h6>{{details.name.title}}</h6>
            <h6>{{details.name.first}}</h6>
            <h6>{{details.name.last}}</h6>
          </div>
      </div>
    </div>
    <h6 class="mt-3"><b>Nom d'utilisateur:</b>  {{details.login.username}}</h6>
    <h6><b>Adresse e-mail:</b> {{details.email}}</h6>
  </div>
</div>
