<div class="container mt-3">
  <h3>Liste des utilisateurs</h3>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Adresse e-mail</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pageOfItems">
        <td>{{ user.name.first }}</td>
        <td>{{ user.name.last }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-info btn-floating"
            (click)="getDetailById(user.login.uuid)"
            mdbTooltip="Voire le détails"
          >
            <i class="fas fa-list"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <jw-pagination
    [items]="listeUsers"
    (changePage)="onChangePage($event)"
  ></jw-pagination>
</div>
